<footer class ="footer">
    <link rel='stylesheet' href='/style.css' />
    <button class ="fbutton" onclick="window.location.href='/about'">ABOUT</button>
    <button class="fbutton" onclick="window.location.href='/contact'">CONTACT</button>
    <p class="fp">&copy; Copyright 2020 Property of Aakanksha Chauhan</p></footer>