<header class="header">
    <link rel='stylesheet' href='/style.css' />

    <div class="logo-image">
        <div class="logo-image" onclick="window.location.href='/'"><img
                src="https://image.shutterstock.com/image-vector/vector-logo-music-260nw-397126390.jpg"
                alt="music meetup image.jpeg" class="logo-image"></div>
        <button id="logo-image" onclick="window.location.href='/index'"></button>
    </div>
</header>