<nav>
    <a href='/'>Home</a> |

    <%if(user) {%>
        <a href='/connections'>Connections</a> |
        <a href='/connections/create'>Create a new Connection</a> |
        <a href='/users/profile'>My account</a> |
        <a href='/users/logout'>Log out</a> |
        <h3>Welcome
            <%= user.name%>
        </h3>

        <%} else {%>
            <a href='/users/create'>Sign Up</a> |
            <a href='/users/login'>Login</a> |
            <a href='/connections'>Connections</a> 
            <%}%>

</nav>


