<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/style.css">
        <meta charset="UTF-8">
        <title> Welcome to Music Meetup Group!</title>
    </head>
    <body>
        <%- include ('./partials/header.ejs') %> 
        <%- include('./partials/nav.ejs')%>
       <main>
  
        <!-- <div class="btn2" onclick="window.location.href='/connections'">Connections</div> -->
        <h1>ABOUT</h1>
        <p><i>Music Meetup creates possibilities. This Meetup website is a platform for finding and building local communities
        where they can meet new people, learn new things, find support, get out of their comfort zones, and most importantly
        pursue their passions, together.</i></p>
        <p>“When I started out, I didn’t know this was a job,” admitted Price.
        “For me, it just took saying ‘yes’ to all of the opportunities that were coming my way. 
        And a lot of those opportunities were for no money.”</p>
        <p>What We Are About: To produce songs, all music lovers , singers, song makers,
        musicians, music studio employees, we will share the nuances of music recording process 
        and the business of song production. Also we would like to make short films.
        </p>
     
    </main>   
    <%- include ('./partials/footer.ejs') %>        
</body>   
</html>
  
