<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <title> Welcome to Music Meetup Group!</title>
    </head>
    <body>
        <%- include ('./partials/header.ejs') %> 
        <%- include('./partials/nav.ejs')%>
        <main>
        <!-- <div class="btn2" onclick="window.location.href='/connections'">Connections</div> -->
        <h1>CONTACT</h1>
        <p><i><b>632 Broadway #10, New York, NY 10012</b></i></p>
        <%- include ('./partials/footer.ejs') %>   
    </main>           
</body>   
</html>
  
