<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/style.css">
       
        <meta charset="UTF-8">
        <title> Welcome to Music Meetup Group!</title>
    </head>
    <body>
    
        <%- include ('./partials/header.ejs') %> 
        <%- include('./partials/nav.ejs')%>
        <%- include('./partials/message.ejs')%>
    <main>
               
        <!-- <div class="btn2" onclick="window.location.href='/connections'">Connections</div> -->
       
        <h1><b>Discover events for all the things you love</b></h1>
        <p class="impact">We have a vast range of members from people that just like to party and dance, to DJ's, producers, record labels, and everyone in between. Our goal is to immerse you in the NC music scene and build a following that will not only attend shows together, but also discuss, collaborate, and support everything that makes the NC music scene what it is.</p>
        <p class="impact">Meet with other local music enthusiasts! Gather for socializing, meet new people and, of course, listen to music! Now you can form meetup groups and listen to songs from your favourite genre. What are you waiting for? Join Now!</p>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/OIfFJCfCiWg"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/bsYwBntu92E"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/MqZcg68QfE4"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/SBT036vVC_o"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/9YVn19tZDvk"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/fEGIW05eSRU"></iframe> 
        
    </main>    
        <%- include ('./partials/footer.ejs') %>         
</body>   
</html>
  
